---
import recording from "/public/recording.mp4";
---

<div class="col-span-12 flex flex-col items-center justify-center pb-32">
  <div
    class="flex flex-col items-center justify-center gap-y-4 mb-6 text-center"
  >
    <h1 class="text-6xl font-bold">Apple Music</h1>
    <h1 class="text-6xl font-bold text-[#B498DD]">Beautifully Reimagined</h1>
  </div>
  <p
    class="text-balance text-white/80 text-xl font-medium max-w-4xl text-center mb-10"
  >
    A sleek, minimal, and lightning-fast Apple Music client. True cross-platform
    support with enhanced features that just work.
  </p>
  <div class="items-center justify-center gap-4 mb-12 grid grid-cols-2">
    <a
      href="#pricing"
      class="px-6 py-3 rounded-full bg-[#9D81CE] text-lg hover:bg-[#9D81CE]/80 transition-colors font-medium shadow col-span-2 text-center sm:col-span-1"
      >Get Started for Free</a
    >
    <a
      href="#pricing"
      class="px-6 py-3 rounded-full outline-gray-500 outline-2 text-lg hover:outline-[#9D81CE]/80 transition-colors font-medium shadow col-span-2 text-center sm:col-span-1"
      >Explore Features</a
    >
  </div>

  <div class="overflow-hidden rounded-xl">
    <video
      src={recording}
      class="max-w-5xl object-cover col-span-12 w-full -mt-[3px] scale-[102%]"
      autoplay
      muted
      loop
      playsinline></video>
  </div>
</div>
