---
import logo from "../assets/logo.png";
---

<nav class="flex flex-col justify-between items-center py-4 px-6">
  <div class="max-w-5xl flex justify-between items-center w-full">
    <div class="flex items-center gap-x-3">
      <img src={logo.src} alt="stem2k" class="size-8 shadow" />
      <span class="text-xl font-bold">stem2k</span>
    </div>
    <div class="flex items-center gap-x-6">
      <a href="#features" class="text-sm hover:text-[#decdf7] transition-colors"
        >Features</a
      >
      <a href="#support" class="text-sm hover:text-[#decdf7] transition-colors"
        >Support</a
      >
      <a href="#pricing" class="text-sm hover:text-[#decdf7] transition-colors"
        >Pricing</a
      >
      <a
        href="https://app.stem2k.com"
        class="px-4 py-1.5 rounded-full bg-[#9D81CE] text-sm hover:bg-[#9D81CE]/80 transition-colors font-medium shadow"
        >Log in</a
      >
    </div>
  </div>
</nav>
