<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A sleek, minimal, and lightning-fast Apple Music client. True cross-platform support with enhanced features that just work."
    />
    <meta name="theme-color" content="#0D0C14" />
    <title>stem2k</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
